{%extends "register/main.html" %}
{%block title%}Create an account!{%endblock%}
{%load crispy_forms_tags%}
{%if messages%}
{%for message in messages%}
<div class="alert alert-{{message.tags}}">{{message}}</div>
{%endfor%}
{%endif%}
{%block content%}
<pre style="position: absolute;top: 100px;right:425px;width:600px;height:350px;border:1px solid black;font-family: 'Courier New', Courier, monospace;font-size:x-large;"><u>Register Here</u></pre>
<div style="position: absolute;top: 150px;right:425px;width:600px;height:350px;border:1px solid black;font-family: 'Courier New', Courier, monospace;font-size: large;">
<form method="POST" class="form-group">
    {%csrf_token%}
    {{form|crispy}}
    <button type="submit" class="btn btn-success" >Register</button>>
    <p>already have an account?<a href='/login'>Click Here</a></p>
</form>
</div>
{%endblock%}