{% extends 'base.html' %}
{% block body_block %}
{% load static %}

<link rel="stylesheet" href="{% static 'certification/cet.css' %}">
    <center class="cet">
        <b><u>Electronic Prototyping</u></b><br>
        <b>I/O PES University (Bangalore)Sep 2019 - Oct 2019</b><br>
        During the 4 week course , we were taught on how to use the arduino software and various sensors with an <br>
        arduino to perform various operation eg using a ultra sonic proximity sensor to detect objects at a distance.<br>
        We also learned about the application of  IOT using the node MCU.<br><br>
        <!--<img src="/static/certification/io.jpg">-->
        <img  src="{% static '/certification/io.jpg'%}">
        <br><br>
        <b><u>Intro To Web Development</u></b><br>
        <b>I/O PES University (Bangalore)Oct 2019 - Nov 2019</b><br>
        In the course we learned about the basics of html, css,java script ,php as<br>
        well as sql backend and on how to interconnect all of them in to one project.<br>
        By the end of 4 weeks we were able to produce a stunning looking website.<br><br>
        <!--<img src="/static/certification/io.jpg">-->
        <img  src="{% static '/certification/io.jpg'%}">
        <br><br>
        <b><u>Full Stack Web Development Using Django</u></b><br>
        <b>I/O PES University (Bangalore)Jan 2020 - Present</b><br>
        In this course we will learn how to create better and moresecure websites by using the Django<br>
        Mainframe thereby reducing development time and increasing flexibility in website design.<br><br>
        <!--<img src="/static/certification/io.jpg">-->
        <img  src="{% static '/certification/io.jpg'%}">
        <br><br>
        



    </center>
{% endblock %}