{% extends 'base.html' %}
{% block body_block %}
{% load static %}
<link rel="stylesheet" href="{% static '/experience/exp.css' %}">

<center class="sts">
    <b><u>Volunteer : Technical Support,The Amateur Scientist 2019</u></b><br>
    <u>PES University</u><br>
    Aug 2019 - Sep 2019<br>
    Bengaluru Area, India <br>
    Volunteered and provided Technical Support for CodeWars in TAS 2019. My duties included preparing<br>
    questions for prelims and testing the evaluation software for the final round.<br><br>
    <img  src="{% static '/experience/tas.jpg'%}"

</center>

{% endblock %}