{% extends 'base.html' %}
{% block body_block %}
{% load static %}
<link rel="stylesheet" href="{% static '/projects/projects.css' %}">

<center class="projects">
    <b><u>PYTHON MINI PROJECT REPORT</u></b><br><br>
    <u>Problem statement</u>: Given previous data in the form of 2 csv files<br>
    about IPL cricket tournaments, select a team for various home-grounds<br><br>
a.	Which must include 1 wicket keeper, <br>
b.	A minimum Of 4 batsmen, 3 bowlers and 2 all-rounders.<br>
c.	With one extra player.<br><br>
Well balanced Teams were created based on the above criteria.<br><br>
<a href="https://github.com/DAN-329" style="color:orangered"><h3>Github link</h3></a><br>
<h4><u>Sample output</u></h4><br><br>
</center>
<p class="projects">
The newly  generated teams are:-<br><br>

	Team:  1<br>
	City:  Pune  | Team:  Rising Pune Supergiant  | Venue:  Maharashtra Cricket Association Stadium<br><br>

Bowlers<br><br>

MP Stoinis  MM Sharma  AR Patel  <br><br>

Batsmen<br><br>

SR Watson  Sachin Baby  STR Binny  S Aravind  YS Chahal <br><br>

Wicket keeper<br><br>

RV Uthappa<br><br>
Allrounders<br><br>

SA Yadav  Harbhajan Singh  <br><br><br>

	Team:  2<br>
	City:  Bangalore  | Team:  Royal Challengers Bangalore  | Venue:  M Chinnaswamy Stadium<br><br>

Bowlers<br><br>

T Natarajan  P Kumar  DS Kulkarni  <br><br>

Batsmen<br><br>

TS Mills  A Choudhary  PA Patel  JC Buttler  RG Sharma  <br><br>

Wicket keeper<br><br>

Vishnu Vinod<br><br>

Allrounder<br><br>

S Dhawan  Iqbal Abdulla  <br><br>
</p>





{% endblock %}