{% extends 'base.html' %}
{% block body_block %}
{% load static %}
<link rel="stylesheet" href="{% static '/skills/skills.css' %}">

<center class="skills">
    <b><u>Programming Languages</u></b><br><br>
    Python - Intermediate<br><br><img class="please" src="{% static '/skills/python.png'%}"><br><br>
    C++ - Intermediate<br><br><img class="please" src="{% static '/skills/c++.png'%}"><br><br>
    C - Beginner<br><br><img class="please" src="{% static '/skills/c.png'%}"><br><br>
    HTML - Intermediate<br><br><img class="please" src="{% static '/skills/html.png'%}"><br><br>
    CSS - Intermediate<br><br><img class="please"src="{% static '/skills/css.png'%}"><br><br>
    JavaScript - Beginner<br><br><img class="please" src="{% static '/skills/js.jpg'%}"><br><br>

</center>

{% endblock %}